GOOGLE_GENAI_USE_ENTERPRISE=1
GOOGLE_CLOUD_PROJECT=your-google-cloud-project-id
GOOGLE_CLOUD_LOCATION=global
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=

# Agent Runtime URL format 
# https://{region}-aiplatform.googleapis.com/v1/projects/{projectid}/locations/{retion}/reasoningEngines/{agent runtime id}
CAA_AGENT_URL=
KNOWLEDGE_AGENT_URL=
T2s_AGENT_URL=